[tools]
python = "3.12.3"
uv = "0.9.4"

[env]
_.python.venv = { path = ".venv", create = true } 
PYTHONPATH="{{config_root}}/src"


[tasks."install"]
description = "Install dependencies"
run = "uv pip install -r requirements.txt"

[tasks."format:python"]
description = "Format Python code"
depends = ["install"]
run = "uv run python -m autopep8 --in-place --aggressive --recursive ."

[tasks."run:dev"]
description = "Run the application in development mode"
depends = ["install"]
env.MLFLOW_TRACKING_URI = "http://localhost:8000"
run = "mise run:mlflow & uv run gunicorn -w 1 -b 0.0.0.0:8000 app:app"

[tasks."run:mlflow"]
description = "Run mlflow tracking server on localhost:8080"
depends = ["install"]
run = "mlflow server --host 127.0.0.1 --port 8080"

[tasks."test"]
description = "Run all available test"
depends = ["install"]
run = "uv run pytest"

[tasks."docker:build"]
description = "Builds dockerfile with the name wine-prediction-app."
sources = ["Dockerfile", "requirements.txt", "src/**/*.py"]
run = "docker build -t wine-prediction-app ."

[tasks."docker:run"]
description = "Runs a docker container of the app with name wine-prediction-app in detach mode on bridge port 8000."
depends = ["docker:build"]
env.MLFLOW_TRACKING_URI = "file:/app/mlruns"
run = """
    docker run \
    --detach \
    --env MLFLOW_TRACKING_URI=$MLFLOW_TRACKING_URI \
    --name wine-prediction-app \
    -p 8000:8000 \
    wine-prediction-app
"""

[tasks."docker:kill"]
description = "Kills the docker container of the app"
run = "docker kill wine-prediction-app ; docker rm wine-prediction-app"
